HIST_STAMPS="yyyy-mm-dd"
GITHUB_USERNAME=not_b1tray3r
DOCKER_GATEWAY_HOST=10.120.0.1
LANG=en_US.UTF-8
PATH=$PATH:/usr/local/go/bin:~/.local/bin:~/go/bin/:/opt/node/bin/
ZSH="$HOME/.oh-my-zsh"
EDITOR="vim"
DISABLE_AUTO_UPDATE="true"
ZSH_THEME="powerlevel10k/powerlevel10k"
ENABLE_CORRECTIONS="false"
